#topNav {
  font-size: 16px;
  background-color: rgb(110, 20, 255);
  color: white;
  height: 50px;
}
.daftar {
  margin-left: 80px;
}
.login {
  margin-left: 250px;
}
.deskripsi {
  padding-top: 40px;
  max-width: 150px;
}
